In [2]:
use practice;

In [3]:
SELECT
    p.post_id,
    p.post_content,
    COUNT(CASE WHEN ur.reaction_type = 'like' THEN 1 END) AS num_likes,
    COUNT(CASE WHEN ur.reaction_type = 'comment' THEN 1 END) AS num_comments,
    COUNT(CASE WHEN ur.reaction_type = 'share' THEN 1 END) AS num_shares
FROM
    Posts p
LEFT JOIN
    UserReactions ur ON p.post_id = ur.post_id
WHERE
    p.post_id = 2 -- Replace with the desired post_id
GROUP BY
    p.post_id, p.post_content;

post_id,post_content,num_likes,num_comments,num_shares
2,Exploring the beauty of nature...,2,1,0

In [4]:
SELECT
    DATE(ur.reaction_date) AS reaction_day,
    COUNT(DISTINCT ur.user_id) AS distinct_users,
    COUNT(*) AS total_reactions,
    AVG(COUNT(*)) OVER (PARTITION BY DATE(ur.reaction_date)) AS avg_reactions_per_user
FROM
    UserReactions ur
WHERE
    ur.reaction_date BETWEEN '2023-08-25' AND '2023-08-31' -- Replace with desired time period
GROUP BY
    reaction_day;

reaction_day,distinct_users,total_reactions,avg_reactions_per_user
2023-08-25,2,2,2.0000
2023-08-26,2,2,2.0000
2023-08-27,3,3,3.0000
2023-08-28,2,2,2.0000
2023-08-29,2,2,2.0000
2023-08-30,1,1,1.0000