In [4]:
use practice

In [9]:
-- drop table sales;
CREATE TABLE Sales (
    ProductID INT,
    ProductName VARCHAR(50),
    SellingPrice DECIMAL(10, 2)
);

INSERT INTO Sales (ProductID, ProductName, SellingPrice)
VALUES (1, 'Product A', 100),
       (2, 'Product B', 150),
       (1, 'Product A', 120),
       (3, 'Product C', 200),
       (2, 'Product B', 180),
       (1, 'Product A', 90)

In [10]:
select * from sales

ProductID,ProductName,SellingPrice
1,Product A,100.00
2,Product B,150.00
1,Product A,120.00
3,Product C,200.00
2,Product B,180.00
1,Product A,90.00

In [11]:
CREATE TABLE Sales2 (
    CustomerID INT,
    ProductID CHAR(1),
    PurchaseDate DATE,
    Quantity INT,
    Revenue DECIMAL(10, 2)
);

INSERT INTO Sales (CustomerID, ProductID, PurchaseDate, Quantity, Revenue)
VALUES
    (1, 'A', '2023-01-01', 5, 100),
    (2, 'B', '2023-01-02', 3, 50),
    (3, 'A', '2023-01-03', 2, 30),
    (4, 'C', '2023-01-03', 1, 20),
    (1, 'B', '2023-01-04', 4, 80);

: 1054 (42S22): Unknown column 'CustomerID' in 'field list'

In [12]:
select * from sales

ProductID,ProductName,SellingPrice
1,Product A,100.00
2,Product B,150.00
1,Product A,120.00
3,Product C,200.00
2,Product B,180.00
1,Product A,90.00

In [13]:
select avg(SellingPrice) from sales

avg(SellingPrice)
140.000000