# Pandas and MySQL
- pandas
- mysqlclient
- sqlalchemy

In [42]:
import pandas as pd
import mysql.connector
import warnings
warnings.filterwarnings('ignore')

In [43]:
host = 'localhost'
username = 'root'
password = 'root'
database = 'mavenfuzzyfactory'

In [44]:
connection = mysql.connector.connect(
    host=host,
    user=username,
    password=password,
    database=database
)

In [45]:
data = pd.read_sql_query('''
                                

select YEAR(order_items.created_at) as yo, 
MONTH(order_items.created_at) as mo,
count(distinct case when product_id=1 then order_items.order_id else null end) as prod_1,
count(distinct case when product_id=1 then order_item_refunds.order_item_refund_id else null end)
/count(distinct case when product_id=1 then order_items.order_id else null end) as r_prod_1,
count(distinct case when product_id=2 then order_items.order_id else null end) as prod_2,
count(distinct case when product_id=2 then order_item_refunds.order_item_refund_id else null end)/
count(distinct case when product_id=2 then order_items.order_id else null end) as r_prod_2,
count(distinct case when product_id=3 then order_items.order_id else null end) as prod_3,
count(distinct case when product_id=3 then order_item_refunds.order_item_refund_id else null end)
/ count(distinct case when product_id=3 then order_items.order_id else null end)as r_prod_3,
count(distinct case when product_id=4 then order_items.order_id else null end) as prod_4,
count(distinct case when product_id=4 then order_item_refunds.order_item_refund_id else null end)
/count(distinct case when product_id=4 then order_items.order_id else null end) as r_prod_4

from order_items
left join order_item_refunds
on order_items.order_item_id = order_item_refunds.order_item_id
where order_items.created_at < '2014-10-15'
GROUP BY 1,2                   

''', connection)
data

,yo,mo,prod_1,r_prod_1,prod_2,r_prod_2,prod_3,r_prod_3,prod_4,r_prod_4
0,2012,3,60,0.0167,0,NaN,0,NaN,0,NaN
1,2012,4,99,0.0505,0,NaN,0,NaN,0,NaN
2,2012,5,108,0.0370,0,NaN,0,NaN,0,NaN
3,2012,6,140,0.0571,0,NaN,0,NaN,0,NaN
4,2012,7,169,0.0828,0,NaN,0,NaN,0,NaN
5,2012,8,228,0.0746,0,NaN,0,NaN,0,NaN
6,2012,9,287,0.0906,0,NaN,0,NaN,0,NaN
7,2012,10,371,0.0728,0,NaN,0,NaN,0,NaN
8,2012,11,618,0.0744,0,NaN,0,NaN,0,NaN
9,2012,12,506,0.0593,0,NaN,0,NaN,0,NaN
10,2013,1,343,0.0496,47,0.0213,0,NaN,0,NaN
11,2013,2,336,0.0714,162,0.0123,0,NaN,0,NaN
12,2013,3,320,0.0563,65,0.0462,0,NaN,0,NaN
13,2013,4,459,0.0414,94,0.0106,0,NaN,0,NaN
14,2013,5,489,0.0634,82,0.0244,0,NaN,0,NaN
15,2013,6,503,0.0775,90,0.0556,0,NaN,0,NaN
16,2013,7,509,0.0727,95,0.0316,0,NaN,0,NaN
17,2013,8,510,0.0549,98,0.0102,0,NaN,0,NaN
18,2013,9,537,0.0428,98,0.0102,0,NaN,0,NaN
19,2013,10,603,0.0282,135,0.0148,0,NaN,0,NaN
20,2013,11,724,0.0345,174,0.0230,0,NaN,0,NaN
21,2013,12,818,0.0232,183,0.0219,139,0.0719,0,NaN
22,2014,1,728,0.0426,183,0.0219,200,0.0650,0,NaN
23,2014,2,584,0.0394,351,0.0171,211,0.0664,202,0.0099
24,2014,3,785,0.0306,193,0.0155,244,0.0697,205,0.0049
25,2014,4,917,0.0349,214,0.0187,267,0.0674,259,0.0154
26,2014,5,1030,0.0291,246,0.0163,299,0.0569,298,0.0067
27,2014,6,893,0.0571,245,0.0367,288,0.0556,249,0.0241
28,2014,7,961,0.0437,244,0.0369,276,0.0399,264,0.0152
29,2014,8,958,0.1378,237,0.0169,294,0.0680,303,0.0066
30,2014,9,1056,0.1326,251,0.0319,317,0.0662,327,0.0122
31,2014,10,513,0.0273,135,0.0074,165,0.0485,155,0.0323