In [1]:
use mavenmovies

In [2]:
show tables

Tables_in_mavenmovies
actor
actor_award
actor_info
address
advisor
category
city
country
customer
customer_list
film
film_actor
film_category
film_list
film_text
inventory
investor
language
nicer_but_slower_film_list
payment
rental
sales_by_film_category
sales_by_store
staff
staff_list
store

In [10]:
-- first name and city
select first_name, city from customer
join address on customer.address_id = address.address_id
join city on address.city_id = city.city_id
limit 10

first_name,city
JULIE,A Corua (La Corua)
PEGGY,Abha
TOM,Abu Dhabi
GLEN,Acua
LARRY,Adana
SEAN,Addis Abeba
ELLA,Aden
ADAM,Adoni
SHERRI,Ahmadnagar
JULIAN,Akishima

In [34]:
-- list of customers first names and their city names whose name starts with a
select first_name, city from customer
join address on customer.address_id = address.address_id
join city on address.city_id = city.city_id
where first_name like 'a%'
limit 10

first_name,city
ANGELA,Shimonoseki
AMY,Jhansi
ANNA,Alessandria
AMANDA,Nador
ANN,Niznekamsk
ALICE,Fontana
ASHLEY,Lincoln
ANDREA,Mahajanga
ANNE,Bradford
ANNIE,Tete